<div class="ftitle">用户修改密码</div>
<form id="fm" method="post" novalidate>
    <div class="fitem">
        <label>用户名:</label>
        <input name="firstname" class="easyui-validatebox" required="true">
    </div>
    <div class="fitem">
        <label>真实姓名:</label>
        <input name="lastname">
    </div>
    <div class="fitem">
        <label>所属岗位:</label>
        <input name="phone" class="easyui-validatebox" required="true">
    </div>
</form>

<style type="text/css">  
    #fm{  
        margin:0;  
        padding:10px 30px;  
    }  
    .ftitle{  
        font-size:14px;  
        font-weight:bold;  
        color:#666;  
        padding:5px 0;  
        margin-bottom:10px;  
        border-bottom:1px solid #ccc;  
    }  
    .fitem{  
        margin-bottom:15px;  
    }  
    .fitem label{  
        display:inline-block;  
        width:80px;  
    }  
</style>
