<style type="text/css">
    .fieldCSS {
        width: 500px;
    }

    .itemTitle {
        display: inline-block;
        width: 80px;
    }
</style>

<div>
    <fieldset class="fieldCSS">
        <legend>修改密码</legend>
        <div>
            <div class="fitem">
                <label class="itemTitle">旧密码:<font color="red">*</font></label>
                <input type="password" id="oldPwd" class="easyui-validatebox" required="true" />
            </div>
            <div class="fitem">
                <label class="itemTitle">新密码:<font color="red">*</font></label>
                <input type="password" id="newPwd" class="easyui-validatebox" required="true" />
            </div>
            <div class="fitem">
                <label class="itemTitle">确认新密码:<font color="red">*</font></label>
                <input type="password" id="confirmPwd" class="easyui-validatebox" required="true" />
            </div>
        </div>

        <p>
            <input type="button" id="btnSave" onclick="savePwd()" value="保存" />
        </p>
    </fieldset>
    
</div>

<script>
    function savePwd() {
        var theOld = $("#oldPwd").val();
        var theNew = $("#newPwd").val();
        var theConfirm = $("#confirmPwd").val();

        if (theOld.trim() == "" || theNew.trim() == "" || theConfirm.trim() == "") {
            alert("请输入旧密码和新密码");
            return;
        }

        if (theNew != theConfirm) {
            alert("请新密码确认一致");
            return;
        }
        
        $.get("/UserManage/editPassword?oldpwd=" + theOld + "&newPwd=" + theNew, function (data) {
            alert(data.msg);
        });
    }

</script>


