<style type="text/css">
    .fieldCSS {
        width: 600px;
    }

    .itemTitle {
        display: inline-block;
        width: 70px;
    }
</style>

<div>
    <fieldset class="fieldCSS">
        <legend>修改个人信息</legend>
        <div>
            <div class="fitem">
                <label class="itemTitle">用户名:</label>
                <label id="lblUserID">@ViewBag.userID</label>
            </div>
            <div class="fitem">
                <label class="itemTitle">真实姓名:</label>
                <input type="text" id="txtName" class="easyui-validatebox" />
            </div>
            <div class="fitem">
                <label class="itemTitle">性别:</label>
                <select id="drpSex" class="easyui-combobox" style="width:100px;" data-option="">
                    <option value="1">男</option>
                    <option value="2">女</option>
                </select>
            </div>
            <div class="fitem">
                <label class="itemTitle">身份证号:</label>
                <input type="text" id="txtCard" class="easyui-validatebox" />
            </div>
            <div class="fitem">
                <label class="itemTitle">联系方式:</label>
                <input type="text" id="txtTel" class="easyui-validatebox" />
            </div>
            <div class="fitem">
                <label class="itemTitle">联系地址:</label>
                <input type="text" id="txtAddress" class="easyui-validatebox" style="width:500px;" />
            </div>
        </div>

        <p>
            <input type="button" id="btnSave" onclick="save()" value="保存" />
        </p>
    </fieldset>
    
</div>

<script type="text/javascript">

    $(function () {
        var sex = 1;
        if ("@ViewBag.sex" == "女")
            sex = 2;
        $('#drpSex').combobox('setValue', sex);
    });

    function save() {
        var name = $("#txtName").val();
        var sex = $('#drpSex').combobox('getValue');
        var card = $("#txtCard").val();
        var tel = $("#txtTel").val();
        var address = $("#txtAddress").val();

        $.post("/UserManage/editInfo",
            "name=" + name + "&sex=" + sex + "&card=" + card + "&tel=" + tel + "&address=" + address,
            function (data) {
                if (data == 1)
                    $("#message").html("修改成功");
                else
                    $("#message").html("修改失败");
            }
        );
    }
</script>