<style type="text/css">

    .fieldCSS {
        width: 500px;
    }

    .fitemTitle {
        display: inline-block;
        width: 70px;
    }
</style>

<div>
    <fieldset class="fieldCSS">
        <legend>修改个人信息</legend>
        <div>
            <div class="fitem">
                <label class="fitemTitle">用户名:</label>
                <label id="lblUserID"></label>
            </div>
            <div class="fitem">
                <label class="fitemTitle">真实姓名:</label>
                <input id="txtName" class="easyui-validatebox" />
            </div>
            <div class="fitem">
                <label class="fitemTitle">性别:</label>
                <select id="drpSex" class="easyui-combobox" style="width:100px;" data-option="">
                    <option value="1">男</option>
                    <option value="2">女</option>
                </select>
            </div>
            <div class="fitem">
                <label class="fitemTitle">身份证号:</label>
                <input id="txtCard" class="easyui-validatebox" />
            </div>
            <div class="fitem">
                <label class="fitemTitle">联系方式:</label>
                <input id="txtTel" class="easyui-validatebox" />
            </div>
            <div class="fitem">
                <label class="fitemTitle">联系地址:</label>
                <input id="txtAddress" class="easyui-validatebox" />
            </div>

        </div>

        <p>
            <input type="button" id="btnSave" onclick="save()" value="保存" />
        </p>
    </fieldset>
    
</div>


<script>
    $(function () {
        $.get("/UserManage/getUserInfo", function (data) {
            if (data != null) {
                $("#lblUserID").html(data.userID);
                $("#txtName").val(data.name);
                
                var sex = 1;
                if (data.sex == "女")
                    sex = 2;
                $("#drpSex").combobox("setValue", sex);

                $("#txtCard").val(data.card);
                $("#txtTel").val(data.tel);
                $("#txtAddress").val(data.address);
            }
        });
    });

    function save() {
        var name = $("#txtName").val();
        var sex = $('#drpSex').combobox('getValue');
        var card = $("#txtCard").val();
        var tel = $("#txtTel").val();
        var address = $("#txtAddress").val();

        $.post("/UserManage/editInfo",
            "name=" + name + "&sex=" + sex + "&card=" + card + "&tel=" + tel + "&address=" + address,
            function (data) {
                if (data == 1)
                    alert("修改成功");
                else
                    alert("修改失败");
            }
        );
    }
</script>