@{
    ViewBag.Title = "用户管理";
}

<script>
    $(function () {
        $('#tblUserList').datagrid();
    });
</script>

<table id="tblUserList" style="width:700px;height:350px;" data-options="singleSelect:true,idField:'id',url:'UserManage/getUserList'">
    <thead>
        <tr>
            <th data-options="field:'id',width:100">ID</th>
            <th data-options="field:'userID',width:100">userID</th>
            <th data-options="field:'powergroupID',width:100">powergroupID</th>
            <th data-options="field:'name',width:100">name</th>
            <th data-options="field:'sex',width:100">sex</th>
            <th data-options="field:'card',width:100">card</th>
            <th data-options="field:'tel',width:100">tel</th>
            <th data-options="field:'address',width:100">address</th>
            <th data-options="field:'date',width:100">date</th>
        </tr>
    </thead>
</table>
