@{
    ViewBag.Title = "用户管理";
}

<!-- Table -->
<table id="tblUserList" style="width: 900px; height: 350px;" data-options="singleSelect:true,idField:'id',url:'UserManage/getUserList'" toolbar="#toolbar">
    <thead>
        <tr>
            <th data-options="field:'userID',width:100">userID</th>
            <th data-options="field:'powergroupID',width:100">powergroupID</th>
            <th data-options="field:'name',width:100">name</th>
            <th data-options="field:'sex',width:100">sex</th>
            <th data-options="field:'card',width:100">card</th>
            <th data-options="field:'tel',width:100">tel</th>
            <th data-options="field:'address',width:100">address</th>
            <th data-options="field:'date',width:100">date</th>
        </tr>
    </thead>
</table>

<!-- Toolbar -->
<div id="toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="newUser()">New User</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="editUser()">Edit User</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="destroyUser()">Remove User</a>
</div>

<!-- dialog -->
<div id="dlg" class="easyui-dialog" style="width: 400px; height: 280px; padding: 10px 20px" closed="true" buttons="#dlg-buttons">
    <div class="ftitle">User Information</div>
    <form id="fm" method="post" novalidate>
        <div class="fitem">
            <label>First Name:</label>
            <input name="firstname" class="easyui-validatebox" required="true">
        </div>
        <div class="fitem">
            <label>Last Name:</label>
            <input name="lastname" class="easyui-validatebox" required="true">
        </div>
        <div class="fitem">
            <label>Phone:</label>
            <input name="phone">
        </div>
        <div class="fitem">
            <label>Email:</label>
            <input name="email" class="easyui-validatebox" validtype="email">
        </div>
    </form>
</div>

<!-- Dialog Buttons -->
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="saveUser()">Save</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">Cancel</a>
</div>

<script>
    $(function () {
        $('#tblUserList').datagrid();
    });

    var url;
    function newUser() {
        $('#dlg').dialog('open').dialog('setTitle', 'New User');
        $('#fm').form('clear');
        url = 'save_user.php';
    }
</script>

<style type="text/css">  
    #fm{  
        margin:0;  
        padding:10px 30px;  
    }  
    .ftitle{  
        font-size:14px;  
        font-weight:bold;  
        color:#666;  
        padding:5px 0;  
        margin-bottom:10px;  
        border-bottom:1px solid #ccc;  
    }  
    .fitem{  
        margin-bottom:5px;  
    }  
    .fitem label{  
        display:inline-block;  
        width:80px;  
    }  
</style>
