<div class="ftitle">影院管理</div>
<p />

<!-- Table -->
<table id="CinemaList" style="width: 900px; height: 300px;" data-options="singleSelect:true,idField:'id',url:'/BasicSetting/getCinemaRoomList'" toolbar="#toolbar">
    <thead>
        <tr>
            <th data-options="field:'cinema',width:80">所属影院</th>
            <th data-options="field:'room',width:100">影厅名称</th>
            <th data-options="field:'type',width:50">影厅属性</th>
            <th data-options="field:'memo',width:130">备注</th>
        </tr>
    </thead>
</table>

<!-- Toolbar -->
<div id="toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="newCinemaRoom()">新增</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">修改</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">删除</a>
</div>

<!-- dialog -->
<div id="dlg" class="easyui-dialog" style="width: 400px; height: 280px; padding: 10px 20px" closed="true" buttons="#dlg-buttons">
    <div class="ftitle">Room Information</div>
    <form id="fm" method="post" novalidate>
        <div class="fitem">
            <label>影厅名称:</label>
            <input id="txtName" class="easyui-validatebox" required="true" />
        </div>
        <div class="fitem">
            <label>所属影院:</label>
            <select id="drpCinema" class="easyui-combobox" style="width:100px;" required="true"></select>
        </div>
        <div class="fitem">
            <label>影厅属性:</label>
            <select id="drpType" class="easyui-combobox" style="width:100px;"></select>
        </div>
        <div class="fitem">
            <label>备注:</label>
            <input id="txtMemo" class="easyui-validatebox" />
        </div>
    </form>
</div>

<!-- Dialog Buttons -->
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="add()">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
</div>


<script>
    $(function () {
        $('#CinemaList').datagrid();

        $('#drpType').combobox({
            url: '/BasicSetting/getdrpCinemaRoomTypeList',
            valueField: 'id',
            textField: 'type'
        });

        $('#drpCinema').combobox({
            url: '/BasicSetting/getDrpCinemaList',
            valueField: 'id',
            textField: 'name'
        });
    });

    function newCinemaRoom() {
        $('#dlg').dialog('open').dialog('setTitle', 'New Room');
        $('#fm').form('clear');
    }

    function add() {
        var name = $("#txtName").val();
        var cinema = $("#drpCinema").combobox("getValue");
        var type = $("#drpType").combobox("getValue");
        var memo = $("#txtMemo").val();

        $.post("/BasicSetting/addCinemaRoom", "room=" + name + "&cinemaID=" + cinema + "&typeID=" + type + "&memo=" + memo,
            function (data) {
                alert("OK");
            }
        );
    }
</script>
