<style type="text/css">

    .fitemTitle {
        display: inline-block;
        width: 60px;
    }

    .fitemWidth {
        width: 100px;
        margin-right: 10px;
    }
</style>

<div class="ftitle">下单信息查询</div>
<p />

<div class="fitem">
    <label class="fitemTitle">下单编号：</label>
    <input id="txtOrderID" class="easyui-validatebox fitemWidth" />
    <label class="fitemTitle inline">合同编号:</label>
    <input id="txtContractID" class="easyui-validatebox fitemWidth" />
    <label class="fitemTitle inline">下单时间:</label>
    从 <input id="txtBeginDate" class="easyui-datebox" data-options="formatter:myformatter,parser:myparser" style="width:100px;" /> 至 
    <input id="txtEndDate" class="easyui-datebox" data-options="formatter:myformatter,parser:myparser" style="width:100px;" />
    <label class="fitemTitle">业务员:</label>
    <select id="drpPerson" class="easyui-combobox"></select>
</div>

<div class="fitem">
    <label class="fitemTitle">广告费结算对象:</label>
    <select id="drpADTarget" class="easyui-combobox"></select>
    <label class="fitemTitle inline">制作费结算对象:</label>
    <select id="drpMakeTarget" class="easyui-combobox"></select>
</div>

<p>
    <input type="button" value="查询" style="margin-left:10px;" onclick="search()" />
    <input type="button" value="当日到账明细" style="margin-left:10px;" onclick="search()" />
    <input type="button" value="导出" style="margin-left:10px;" onclick="search()" />
</p>

<table id="OrderList" style="width: 1050px; height: 400px;" data-options="singleSelect:true,idField:'id',url:'/Select/getOrderList'">
    <thead>
        <tr>
            <th data-options="field:'id',width:50">ID</th>
            <th data-options="field:'contractID',width:100">下单编号</th>
            <th data-options="field:'orderID',width:100">合同编号</th>
            <th data-options="field:'contractName',width:180">合同名称</th>
            <th data-options="field:'costTargetName',width:120">广告费结算对象</th>
            <th data-options="field:'makeTargetName',width:120">制作费结算对象</th>
            <th data-options="field:'begintime',width:70">下单时段(起)</th>
            <th data-options="field:'endtime',width:70">下单时段(止)</th>
            <th data-options="field:'roomNum',width:70">下单厅数</th>
            <th data-options="field:'memo',width:100">备注</th>
        </tr>
    </thead>
</table>

<script>
    var selected = null;

    $(function () {
        $('#OrderList').datagrid({
            onRowContextMenu: function (e, rowIndex, rowData) {
                selected = rowData;
                e.preventDefault();

                if (!$('#rmenu').length) {
                    createRowMenu();//调用添加右击菜单的内容
                }
                $('#rmenu').menu('show', {
                    left: e.pageX,
                    top: e.pageY
                });

            }
        });

        $('#drpPerson').combobox({
            url: '/Business/getDrpPersonList',
            valueField: 'id',
            textField: 'name'
        });

        $('#drpADTarget').combobox({
            url: '/Business/getDrpADTargetList',
            valueField: 'id',
            textField: 'target'
        });

        $('#drpMakeTarget').combobox({
            url: '/Business/getDrpMakeTargetList',
            valueField: 'id',
            textField: 'target'
        });
    });

    function search() {
        var orderID = $("#txtOrderID").val();
        var contractID = $("#txtContractID").val();
        var begin = $("#txtBeginDate").datebox("getValue");
        var end = $("#txtEndDate").datebox("getValue");
        var person = $("#drpPerson").combobox("getValue");
        var adTarget = $("#drpADTarget").combobox("getValue");
        var makeTarget = $("#drpMakeTarget").combobox("getValue");

        $('#OrderList').datagrid({
            url: "/Select/searchOrder?order=" + orderID + "&contract=" + contractID + "&begin=" + begin + "&end=" + end + "&person=" + person + "&adTarget=" + adTarget + "&makeTarget=" + makeTarget
        });
    }

    function createRowMenu() {
        var tmenu = $('<div id="rmenu" style="width:130px;"></div>').appendTo('body');
        $('<div name="adCost"/>').html("广告费结算登记").appendTo(tmenu);
        $('<div name="adCostList"/>').html("广告费结算情况").appendTo(tmenu);
        $('<div name="makeCost"/>').html("制作费结算登记").appendTo(tmenu);
        $('<div name="makeCostList"/>').html("制作费结算情况").appendTo(tmenu);
        $('<div name="bill"/>').html("收发票登记").appendTo(tmenu);
        $('<div name="billList"/>').html("发票收到情况").appendTo(tmenu);

        tmenu.menu({
            onClick: function (item) {
                switch (item.name) {
                    case "adCost":
                        location.href = "/Business/ADCostAccount?id=" + selected.orderID;
                        break;
                    case "adCostList":
                        window.open("/Business/ADCostList?id=" + selected.orderID, "", "width=900,height=400,toolbar=no,menubar=no,scrollbars=no, resizable=no");
                        break;
                    case "makeCost":
                        location.href = "/Business/MakeCostAccount?id=" + selected.orderID;
                        break;
                    case "makeCostList":
                        window.open("/Business/ADCostList?id=" + selected.orderID, "", "width=900,height=400,toolbar=no,menubar=no,scrollbars=no, resizable=no");
                        break;
                    case "bill":
                        window.open("WriteBill?id=" + selected.contractID, "", "width=900,height=700,toolbar=no,menubar=no,scrollbars=no, resizable=no");
                        break;
                    case "billList":
                        window.open("BillList?id=" + selected.contractID, "", "width=900,height=300,toolbar=no,menubar=no,scrollbars=no, resizable=no");
                        break;
                }
            }
        });
    }

</script>