<div>
    <fieldset>
        <legend>广告费用结算</legend>

        <p />
        <div>
            <div class="fitem inline">
                <label>下单编号:</label>
                <input id="txtOrderID" class="easyui-validatebox" onkeydown="EnterPress()" />
            </div>
            <div class="fitem inline" style="margin-left:30px;">
                <label>合同编号:</label>
                <input id="txtContractID" class="easyui-validatebox" readonly="true" />
            </div>
            <div class="fitem inline" style="margin-left:30px;">
                <label>合同名称:</label>
                <input id="txtContractName" class="easyui-validatebox" readonly="true" />
            </div>
        </div>

        <p />
        <div>
            <div class="fitem inline">
                <label>广告版本:</label>
                <input id="txtVersion" class="easyui-validatebox" readonly="true" />
            </div>
            <div class="fitem inline" style="margin-left:30px;">
                <label>签署金额:</label>
                <input id="txtMoney" class="easyui-validatebox" readonly="true" />
            </div>
            <div class="fitem inline" style="margin-left:30px;">
                <label>合同类型:</label>
                <input id="txtType" class="easyui-validatebox" readonly="true" />
            </div>
        </div>

        <p />
        <div>
            <div class="fitem inline">
                <label>渠道归类:</label>
                <input id="txtChannel" class="easyui-validatebox" readonly="true" />
            </div>
            <div class="fitem inline" style="margin-left:30px;">
                <label>合同周期:</label>
                <input id="txtBegin" class="easyui-validatebox" readonly="true" />至
                <input id="txtEnd" class="easyui-validatebox" readonly="true" />
                <input id="txtZQ" class="easyui-validatebox" readonly="true" />月
            </div>
        </div>

        <p />
        <div>
            <div class="fitem inline" style="margin-left:30px;">
                <label>广告费结算对象:</label>
                <input id="txtTarget" class="easyui-validatebox" readonly="true" />
            </div>
            <div class="fitem inline">
                <label>结算金额:</label>
                <input id="txtAccountMoney" class="easyui-validatebox" />
            </div>
            <div class="fitem inline" style="margin-left:30px;">
                <label>打款状态:</label>
                <input type="radio" id="notAccounted" name="accountState" checked="checked">未打款</input>
                <input type="radio" id="Accounted" name="accountState">已打款</input>
            </div>
        </div>

        <p />
        <div>
            <div class="fitem inline" style="margin-left:30px;">
                <label>日期:</label>
                <input id="txtDate" class="easyui-datebox" data-options="formatter:myformatter,parser:myparser" />
            </div>
            <div class="fitem inline">
                <label>备注:</label>
                <input id="txtMemo" class="easyui-validatebox" />
            </div>
        </div>

        <p>
            <input type="button" id="btnAdd" onclick="add()" value="新增" />
            <input type="button" id="btnCancel" onclick="cancel()" value="清空" />
        </p>
    </fieldset>
</div>

<script>

    function EnterPress() {
        var e = e || window.event;
        if (e.keyCode == 13) {
            $.get("/Business/getContract?id=" + $("#txtID").val(), function (data) {
                $("#txtName").val(data.name);
                $("#txtCustomer").val(data.customerName);
                $("#txtVersion").val(data.version);
                $("#txtMoney").val(data.money);
                $("#txtMake").val(data.makeCost);
                $("#txtType").val(data.typeName);
                $("#txtChannel").val(data.channelName);
                $("#txtPerson").val(data.personName);
            });
        }
    }

</script>
