<style type="text/css">
    .fieldCSS {
        width: 800px;
    }

    .fitemTitle {
        display: inline-block;
        width: 60px;
    }

    .fitemWidth {
        width: 100px;
        margin-right: 10px;
    }
</style>

<div>
    <fieldset class="fieldCSS">
        <legend>收发票管理</legend>
        <div>
            <div class="fitem">
                <label class="fitemTitle">下单编号:</label>
                <input id="txtOrderID" class="easyui-validatebox fitemWidth" onkeydown="EnterPress()" />
                <label class="fitemTitle">合同编号:</label>
                <input id="txtContractID" class="easyui-validatebox fitemWidth" readonly="true" />
                <label class="fitemTitle inline">合同名称:</label>
                <input id="txtName" class="easyui-validatebox fitemWidth" readonly="true" />
            </div>
            <div class="fitem">
                <label class="fitemTitle inline">签署金额:</label>
                <input id="txtContractMoney" class="easyui-validatebox fitemWidth" readonly="true" />
                <label class="fitemTitle">合同类型:</label>
                <input id="txtType" class="easyui-validatebox fitemWidth" readonly="true" />
                <label class="fitemTitle inline">渠道归类:</label>
                <input id="txtChannel" class="easyui-validatebox fitemWidth" readonly="ture" />                
            </div>
            <div class="fitem">
                <label class="fitemTitle">收票类型:</label>
                <select id="drpBillType" class="easyui-combobox"></select>
                <label class="fitemTitle" style="margin-left:10px;">结算对象:</label>
                <select id="drpTarget" class="easyui-combobox"></select>
                <label class="fitemTitle inline" style="margin-left:10px;">开票金额:</label>
                <input id="txtMoney" class="easyui-validatebox fitemWidth"/>
            </div>
            <div class="fitem">
                <label class="fitemTitle inline">开票日期:</label>
                <input id="txtDate" class="easyui-datebox" data-options="formatter:myformatter,parser:myparser" />
            </div>
            <p>
                <input type="button" id="btnAdd" onclick="add()" value="新增" style="margin-right: 20px;" />
                <input type="button" id="btnCancel" onclick="cancel()" value="清空" />
            </p>
        </div>
    </fieldset>

    <fieldset class="fieldCSS">
        <legend>列表</legend>

        <table id="BillList" style="width: 700px; height: 300px;" data-options="singleSelect:true,idField:'id',url:'/Business/ReceiveBill_getList'">
            <thead>
                <tr>
                    <th data-options="field:'orderID',width:100">下单编号</th>
                    <th data-options="field:'contractID',width:100">合同编号</th>
                    <th data-options="field:'contractName',width:180">合同名称</th>
                    <th data-options="field:'typeName',width:100">收票类型</th>
                    <th data-options="field:'targetName',width:100">结算对象</th>                    
                    <th data-options="field:'money',width:100">发票金额</th>
                    <th data-options="field:'date',width:80">收票日期</th>
                </tr>
            </thead>
        </table>
    </fieldset>
</div>

<script>
    $(function () {
        $('#BillList').datagrid();

        $('#drpBillType').combobox({
            url: '/Home/drpBillTypeList',
            valueField: 'id',
            textField: 'name',
            onChange: getDrpTargetData
        });

        $('#drpBillType').combobox("setValue", "1");

        
        $('#drpTarget').combobox({
            url: '/Home/drpADTargetList',
            valueField: 'id',
            textField: 'target'
        });

        var today = new Date();
        var todayStr = today.getFullYear() + "-" + (today.getMonth() > 10 ? (today.getMonth + 1) : "0" + (today.getMonth() + 1)) + "-" + (today.getDate() > 10 ? today.getDate() : "0" + today.getDate());
        $("#txtDate").datebox("setValue", todayStr);
    });

    function EnterPress(e) {        
        var e = e || window.event;
        if (e.keyCode == 13) {
            var orderID = $("#txtOrderID").val();

            $.get("/Business/ReceiveBill_getContractOrderInfo?id=" + orderID, function (data) {
                var contract = data.contract;
                var order = data.order;

                $("#txtContractID").val(contract.contractID);
                $("#txtName").val(contract.name);
                $("#txtContractMoney").val(contract.money);

                $("#txtType").val(contract.typeName);
                $("#txtChannel").val(contract.channelName);
            });
        }
    }

    function getDrpTargetData() {
        var type = $("#drpBillType").combobox("getValue");
        var urlStr = "/Home/drpADTargetList";

        if (type == "2")
            urlStr = "/Home/drpMakeTargetList";

        $("#drpTarget").combobox({
            url: urlStr,
            valueField: 'id',
            textField: 'target'
        });
    }

    function cancel() {
        $("#txtOrderID").val("");
        $("#txtContractID").val("");
        $("#txtName").val("");
        $("#txtContractMoney").val("");
        $("#txtType").val("");
        $("#txtChannel").val("");
        
        $("#drpBillType").combobox("setValue", "");
        $("#drpTarget").combobox("setValue", "");
        $("#txtMoney").val("");
        
        var today = new Date();
        var todayStr = today.getFullYear() + "-" + (today.getMonth() > 10 ? (today.getMonth + 1) : "0" + (today.getMonth() + 1)) + "-" + (today.getDate() > 10 ? today.getDate() : "0" + today.getDate());
        $("#txtDate").datebox("setValue", todayStr);
    }

    function add() {
        var id = $("#txtOrderID").val();
        var type = $("#drpBillType").combobox("getValue");
        var target = $("#drpTarget").combobox("getValue");
        var money = $("#txtMoney").val();
        var date = $("#txtDate").datebox("getValue");

        $.post("/Business/ReceiveBill_add", "orderID=" + id + "&type=" + type + "&target=" + target + "&money=" + money + "&date=" + date,
            function (data) {
                if (data == 0)
                    alert("新增失败");
                else
                    $("#BillList").datagrid("reload");
            }
        );
    }
</script>