<style type="text/css">
    .fieldCSS {
        width: 800px;
    }

    .fitemTitle {
        display: inline-block;
        width: 60px;
    }

    .fitemWidth {
        width: 100px;
        margin-right: 10px;
    }
</style>

<div>
    <fieldset class="fieldCSS">
        <legend>开发票管理</legend>
        <div>
            <div class="fitem">
                <label class="fitemTitle">合同编号:</label>
                <input id="txtID" class="easyui-validatebox fitemWidth" onkeydown="EnterPress()" />
                <label class="fitemTitle inline">合同名称:</label>
                <input id="txtName" class="easyui-validatebox fitemWidth" readonly="true" />
                <label class="fitemTitle inline">业务员:</label>
                <input id="txtPerson" class="easyui-validatebox fitemWidth" readonly="true" />
            </div>
            <div class="fitem">
                <label class="fitemTitle">合同类型:</label>
                <input id="txtType" class="easyui-validatebox fitemWidth" readonly="true" />
                <label class="fitemTitle inline">渠道归类:</label>
                <input id="txtChannel" class="easyui-validatebox fitemWidth" readonly="ture" />
                <label class="fitemTitle inline">签署金额:</label>
                <input id="txtContractMoney" class="easyui-validatebox fitemWidth" readonly="true" />
            </div>
            <div class="fitem">
                <label class="fitemTitle">制作费(元):</label>
                <input id="txtMake" class="easyui-validatebox fitemWidth" readonly="true" />
                <label class="fitemTitle inline">已到金额:</label>
                <input id="txtCollect" class="easyui-validatebox fitemWidth" readonly="true" />
                <label class="fitemTitle inline" style="width:130px;">广告费结算已开金额:</label>
                <input id="txtADCost" class="easyui-validatebox fitemWidth" readonly="true" />
            </div>
            <div class="fitem">
                <label class="fitemTitle" style="width:130px;">制作费结算已开金额:</label>
                <input id="txtMakeCost" class="easyui-validatebox fitemWidth" readonly="true" />
                <label class="fitemTitle inline">已开金额:</label>
                <input id="txtAllCost" class="easyui-validatebox fitemWidth" readonly="true" />
                <label class="fitemTitle inline">是否开完:</label>
                <input type="radio" id="notFinish" name="isFinish" checked="checked">否</input>
                <input type="radio" id="Finished" name="isFinish">是</input>
            </div>
            <div class="fitem">
                <label class="fitemTitle">开票类型:</label>
                <select id="drpBillType" class="easyui-combobox"></select>
                <label class="fitemTitle inline" style="margin-left:10px;">开票金额:</label>
                <input id="txtMoney" class="easyui-validatebox fitemWidth"></input>
                <label class="fitemTitle inline">开票日期:</label>
                <input id="txtDate" class="easyui-datebox" data-options="formatter:myformatter,parser:myparser" />
            </div>

            <p>
                <input type="button" id="btnAdd" onclick="add()" value="新增" style="margin-right: 20px;" />
                <input type="button" id="btnCancel" onclick="cancel()" value="清空" />
            </p>
        </div>
    </fieldset>

    <fieldset class="fieldCSS">
        <table id="BillList" style="width: 700px; height: 300px;" data-options="singleSelect:true,idField:'id',url:'/Business/getBillList'" toolbar="#toolbar">
            <thead>
                <tr>
                    <th data-options="field:'contractID',width:100">合同编号</th>
                    <th data-options="field:'contractName',width:180">合同名称</th>
                    <th data-options="field:'contractMoney',width:100">签署金额</th>
                    <th data-options="field:'typeName',width:100">开票类型</th>
                    <th data-options="field:'money',width:100">开票金额</th>
                    <th data-options="field:'date',width:80">开票日期</th>
                </tr>
            </thead>
        </table>
    </fieldset>
</div>

<script>

    $(function () {
        $('#BillList').datagrid();

        $('#drpBillType').combobox({
            url: '/Business/getDrpBillTypeList',
            valueField: 'id',
            textField: 'name'
        });

        var today = new Date();
        var todayStr = today.getFullYear() + "-" + (today.getMonth() > 10 ? (today.getMonth + 1) : "0" + (today.getMonth() + 1)) + "-" + (today.getDate() > 10 ? today.getDate() : "0" + today.getDate());
        $("#txtDate").datebox("setValue", todayStr);
    });

    function EnterPress(e) {        
        var e = e || window.event;
        if (e.keyCode == 13) {
            $.get("/Business/getContract?id=" + $("#txtID").val(), function (data) {
                $("#txtName").val(data.name);
                $("#txtPerson").val(data.personName);
                $("#txtType").val(data.typeName);
                $("#txtChannel").val(data.channelName);
                $("#txtContractMoney").val(data.money);
                $("#txtMake").val(data.makeCost); 
            });
        }
    }

    function cancel() {
        $("#txtID").val("");
        $("#txtName").val("");
        $("#txtPerson").val("");
        $("#txtType").val("");
        $("#txtChannel").val("");
        $("#txtContractMoney").val("");
        $("#txtMake").val("");
        $("#txtCollect").val("");
        $("#txtADCost").val("");
        $("#txtMakeCost").val("");
        $("#txtAllCost").val("");
        $("#txtMoney").val("");
        $("#txtDate").val("");
    }

    function add() {
        var id = $("#txtID").val();
        var type = $("#drpBillType").combobox("getValue");
        var money = $("#txtMoney").val();
        var date = $("#txtDate").datebox("getValue");

        $.post("/Business/addBill", "id=" + id + "&type=" + type + "&money=" + money + "&date=" + date,
            function (data) {
                if (data == 0)
                    alert("新增失败");
                else
                    $("#BillList").datagrid("reload");
            }
        );
    }
</script>