<style type="text/css">
    .fieldCSS {
        width: 800px;
    }

    .fitemTitle {
        display: inline-block;
        width: 60px;
    }
</style>

<div>
    <fieldset class="fieldCSS">
        <legend>影院</legend>
        <div>
            <div class="fitem">
                <label class="fitemTitle">影院名称:<font color="red">*</font></label>
                <input id="txtName" class="easyui-validatebox" required="true" style="width:100px;margin-right:20px;" />
                <label class="fitemTitle inline">所属地区:<font color="red">*</font></label>
                <select id="drpArea" class="easyui-combobox" required="true"></select>
                <label class="fitemTitle inline" style="margin-left:20px;">厅数:<font color="red">*</font></label>
                <input id="txtNum" class="easyui-validatebox" required="true" style="width:100px;" />
            </div>
            <div class="fitem">
                <label class="fitemTitle">联系人:</label>
                <input id="txtPerson" class="easyui-validatebox" style="width:100px;margin-right:20px;"/>
                <label class="fitemTitle inline">联系电话:</label>
                <input id="txtTel" class="easyui-validatebox" style="width:108px;margin-right:20px;" />
                <label class="fitemTitle inline">影院地址:</label>
                <input id="txtAddress" class="easyui-validatebox" style="width:300px;"/>
            </div>
        </div>

        <p>
            <input type="button" id="btnAdd" onclick="add()" value="新增" style="margin-right: 20px;" />
            <input type="button" id="btnEdit" onclick="update()" value="修改" style="margin-right: 20px;" />
            <input type="button" id="btnCancel" onclick="cancel()" value="清空" />
        </p>
    </fieldset>

    <fieldset class="fieldCSS">
        <legend>列表</legend>

        <div class="fitem">
            <label class="fitemTitle">影院名称:</label>
            <input id="searchName" class="easyui-validatebox" style="width:100px;margin-right:20px;" />
            <label class="fitemTitle inline" style="width:60px;">所属地区:</label>
            <select id="searchArea" class="easyui-combobox"></select>
            <input type="button" value="查询" style="margin-left:10px;" onclick="search()" />
        </div>

        <table id="CinemaList" style="width: 780px; height: 300px;" data-options="singleSelect:true,idField:'id',url:'/BasicSetting/Cinema_getList'">
            <thead>
                <tr>
                    <th data-options="field:'name',width:130">影院名称</th>
                    <th data-options="field:'area',width:70">所属地区</th>
                    <th data-options="field:'roomNum',width:50">厅数</th>
                    <th data-options="field:'person',width:100">联系人</th>
                    <th data-options="field:'tel',width:110">联系电话</th>
                    <th data-options="field:'address',width:230">联系地址</th>
                </tr>
            </thead>
        </table>
    </fieldset>
</div>


<script>
    var selected = -1;

    $(function () {
        $("#CinemaList").datagrid({
            onClickRow: function (rowIndex, rowData) {
                selected = rowData.id;
                $("#txtName").val(rowData.name);
                $("#drpArea").combobox("setValue", rowData.areaID);
                $("#txtNum").val(rowData.roomNum);
                $("#txtPerson").val(rowData.person);
                $("#txtTel").val(rowData.tel);
                $("#txtAddress").val(rowData.address);
            },
            onRowContextMenu: function (e, rowIndex, rowData) {
                selected = rowData.id;
                e.preventDefault();

                if (!$('#rmenu').length) {
                    createRowMenu();//调用添加右击菜单的内容
                }
                $('#rmenu').menu('show', {
                    left: e.pageX,
                    top: e.pageY
                });

            }
        });

        $('#drpArea').combobox({
            url: '/Home/drpAreaList',
            valueField: 'id',
            textField: 'name'
        });

        $('#searchArea').combobox({
            url: '/Home/drpAreaList',
            valueField: 'id',
            textField: 'name'
        });
    });

    function createRowMenu() {
        var tmenu = $('<div id="rmenu" style="width:130px;"></div>').appendTo('body');
        $('<div iconCls="icon-remove"/>').html("删除该影院资料").appendTo(tmenu);

        tmenu.menu({
            onClick: function (item) {
                if (item.iconCls == "icon-remove") {
                    var answer = confirm("确认要删除吗")
                    if (answer) {
                        deleteRow();
                    }
                }
            }
        });
    }

    function cancel() {
        $("#txtName").val("");
        $("#txtNum").val("");
        $("#txtPerson").val("");
        $("#txtTel").val("");
        $("#txtAddress").val("");
    }

    function add() {
        var name = $("#txtName").val();
        var area = $("#drpArea").combobox("getValue");
        var num = $("#txtNum").val();
        var person = $("#txtPerson").val();
        var tel = $("#txtTel").val();
        var address = $("#txtAddress").val();

        if (name.trim() == "") {
            alert("影院名称不能为空");
            return;
        }

        if (area.trim() == "") {
            alert("请选择所属地区");
            return;
        }

        if (num.trim() == "") {
            alert("厅数不能为空");
            return;
        }

        $.post("/BasicSetting/Cinema_add",
            "name=" + name + "&area=" + area + "&roomNum=" + num + "&person=" + person + "&tel=" + tel + "&address=" + address,
            function (data) {
                if (data == 0)
                    alert("新增失败");
                else
                    $("#CinemaList").datagrid("reload");
            }
        );
    }

    function update() {
        var name = $("#txtName").val();
        var area = $("#drpArea").combobox("getValue");
        var num = $("#txtNum").val();
        var person = $("#txtPerson").val();
        var tel = $("#txtTel").val();
        var address = $("#txtAddress").val();

        if (name.trim() == "") {
            alert("影院名称不能为空");
            return;
        }

        if (area.trim() == "") {
            alert("请选择所属地区");
            return;
        }

        if (num.trim() == "") {
            alert("厅数不能为空");
            return;
        }

        $.post("/BasicSetting/Cinema_edit",
            "id=" + selected + "&name=" + name + "&area=" + area + "&roomNum=" + num + "&person=" + person + "&tel=" + tel + "&address=" + address,
            function (data) {
                if (data == 0)
                    alert("修改失败");
                else
                    $("#CinemaList").datagrid("reload");
            }
        );
    }

    function deleteRow() {
        $.get("/BasicSetting/Cinema_remove", "id=" + selected,
            function (data) {
                if (data == 0)
                    alert("删除失败");
                else
                    $("#CinemaList").datagrid("reload");
            }
        );
    }

    function search() {
        var name = $("#searchName").val();
        var area = $("#searchArea").combobox("getValue");

        $.post("/BasicSetting/Cinema_search", "sName=" + name + "&sArea=" + area,
            function (data) {
                if (data != null)
                    $("#CinemaList").datagrid("loadData", data);
            }
        );
    }
</script>
